<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ADMIN!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
    />
    <link rel="stylesheet" href="static/admin_page.css"/>
  </head>
  <body>
   

    <form action="/dashboard" method="post">
      <br> <br> <br>   <br><br>
      <h2>ADMIN!</h2>
 <br>
      <div class="container">
        <label for="uname"><b>Uame</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="passw" required>
            
        <button type="submit">Submit</button>
      
    </div>
      
    </form>
  </body>
</html>
