<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book now</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
    />
    <link rel="stylesheet" href="booknow.css"/>
  </head>
  <body>
    
    <div class="split left">
   <div class="container" >
    
    <form action="/booknow">
      <h2>Personal Details</h2>
      <label for="name">name:</label>
      <input type="text" id="name" name="name"><br>
      <label for="email">email: </label>
      <input type="email" id="email" name="email"><br>
      <label for="phone">phone number:</label>
      <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br>
      <label for="email">address: </label>
      <input type="text" id="address" name="address"><br>
      <label for="city">city:</label>
      <input type="text" id="city" name="city"><br><br>
      <label for="state">state:</label>
      <input type="text" id="state" name="state"><br><br>
      <label for="pin code">pin code:</label>
      <input type="ten" id="pin code" name="pin code">
      <input type="submit" value="Submit">
      </form>
   </div>
  </div>

   <div class="split right">
    <div class="container">
      <form action="/booknow"></form>
      <h2>Make a Reservation</h2>
      <label for="Calender">Date:</label>
      <input type="date" id="calender" name="calender"><br><br>

      <label for="text">Room type:</label>
      <select name="roontype" id="roomtype">
        <option value=""></option>
        <option value="Zenith">luxury</option>
        <option value="Cartier">delluxe</option>
        <option value="Omega">single</option>
        <option value="Omega">double</option>
        <option value="Omega">triple</option>
        <option value="Omega">guest</option>
      </select><br><br>
      <label for="no of rooms"> no of rooms:</label>
      <input type="text" id="no of rooms" name="no of rooms"><br>
     
    </div>
  </div>
  </body>
</html>
