
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Your booking Id</title>
   
    <link rel="stylesheet" href="static/login_page.css"/>
  </head>
  <body>

    <form action="/id" method="post">
      <br>  <br> 
      <h2>Your booking Id</h2>
     
  
    <br> 
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>
            
        <button type="submit">Login</button>
   
      <br>
      <br>
    
    </div>
      
    </form>
  </body>
</html>


