{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="fonts/all.css">
<link rel="stylesheet" href="static/style.css">

    <div class="slider">
        <span class="imgtext">
        <p id="wel">Welcome to</p>
        <h1 id="h1">Poorni Hotel</h1>
        
        </span>
        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/45612643.jpg?k=6322e5d1064d7af8a2be55d9102ae1c2384bf32f5bf2b821ed2d1815781436c5&o=&hp=1" class="imag">
    </div>
    
   
       
    </div>


 
  
    


    
{% endblock %}
    