<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POORNI Hotels</title>
    <link rel="stylesheet" href="fonts/all.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header class="header">
        <span id="mk" >POORNI</span><span id="hotels">HOTELS</span>

    </header>
    <nav class="nav">
        <ul class="ul">
            <li class="li"><a href="/">HOME</a></li>
            <li class="li"><a href="/room">ROOMS</a></li>
            <li class="li"><a href="/about">ABOUT US</a></li>
            <li class="li"><a href="/contact">CONTACT</a></li>
            <li class="li"><a href="/login">LOGIN</a></li>
            <li class="li"><a href="/dashboard">ADMIN</a></li>
            
        </ul>
        
    </nav>
  
    
{% block body %}  {% endblock %}

<footer>
    <p>Author:Poornima Shanmuganathan<br>
    <a href="poornimanadar1234@gmail.com">&copy; Copyright 2023 
    </a></p>
  </footer>













<!-- 

    <footer>
        
        <div class="footer2">
            <span class="foo2a">&copy;2023 POOJA Hotels</span>
            <span class="foo2b">Designed by <span onclick="location.href='https://www.github.com/koushil-mankali'">POOJA DHANSHETTI</span></span>
        </div>
    </footer> -->
<!-- <script src="fonts/all.js"></script> -->
</body>
</html>