
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login page</title>
   
    <link rel="stylesheet" href="static/login_page.css"/>
  </head>
  <body>

    <form action="/login" method="post">
      <br>  <br> 
      <h2>Login Form</h2>
     
  
    <br> 
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="passw" required>
            
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      <br>
      <br>
    
      <span>Don't have account?<a href="/register">Register here</a></span>
    </div>
      
    </form>
  </body>
</html>


