<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
    />
    <link rel="stylesheet" href="static/register_page.css"/>
  </head>
  <body>
    <h2>Register form</h2>
   <div class="container" >
    
    <form action="/register" method="post">
      <div class="container">
        

        <hr>

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="name" required>
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="passw" id="psw" required>
    
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="re-passw" id="psw-repeat" required>
        <hr>
    
        <button type="submit" class="registerbtn">Register</button>
      </div>
      
      <div class="container signin">
        <p>Already have an account? <a href="/login">login here</a>.</p>
      </div>
    </form>
    
  </body>
</html>
