{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> pooja Hotel</title>
    <link rel="stylesheet" type="text/css" href="static/room.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="dist/jquery.scrollUp.js"></script>
 <script type="text/javascript" src="dist/demo.js"></script>
    
    </head>
    
<body>

   
    
    
      <section class="tm-roomsection">
                    <div class="tm-room1">
                        <div class="tm-trans"> <div><p>2 Bed</p><p>Free Wifi</p> </div>
                        
                        <div><p>Only for</p><p class="bold">₹ 2000</p>
                            <a href="/register"> <input type="button"  id="bn-now" onclick="myFunction()"  value="VIEW MORE"/></a></div><div class="stars"></div></div>
                        </a>
                        
                        <img class="tm-roomimage" src="https://img.freepik.com/free-photo/luxury-bedroom-suite-resort-high-rise-hotel-with-working-table_105762-1783.jpg">
                     <p class="s">Luxury Room</p>
                     

                    </div>
                        <div class="tm-room1">
                            <div class="tm-trans"> <div><p>2 Bed</p><p>Free Wifi</p> </div>
                        
                        <div><p>Only for</p><p class="bold">₹ 1600</p> 
                            <a href="/register"><input type="button"  id="bn-now" onclick="myFunction()"  value="VIEW MORE"/></a></div><div class="stars"></div></div>
                        </a>
                    
                            
                        <img class="tm-roomimage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPyVpBwlYO082ywaicB8V8mVU80_asngQODHgkakCMt8HfDjcNWDoPWeZAvoHalucr9dk&usqp=CAU">
                            <p>Delux Room</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>1 Bed</p><p>Free Wifi</p> </div>
                        
                        <div><p>Only for</p><p class="bold">₹ 800</p> 
                            <a href="/register"><input type="button"  id="bn-now" onclick="myFunction()"value="VIEW MORE"/></a></div><div class="stars"></div></div>
                        </a>
                            
                        <img class="tm-roomimage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqHMjKeHFXmVqBDzpiSXQUP-bnxJV9NnqhPuO0F_jSE9xNp-hyKgcuzet2qzGWX5mk6_E&usqp=CAU">
                             <p>Single Room</p>

                    </div>
    </section>
    <br/>
     <section class="tm-roomsection">
                    <div class="tm-room1">
                        
                        <div class="tm-trans"> <div><p>2 Bed</p><p>Free wifi</p> </div>
                        
                        <div><p>Only for</p><p class="bold">₹ 1000</p> 
                            <a href="/register"><input type="button"  id="bn-now" onclick="myFunction()"  value="VIEW MORE"/></a></div><div class="stars"></div></div>
                        </a>
                        
                        <img class="tm-roomimage" src="https://cdn.traveltripper.io/site-assets/512_855_12327/media/2018-02-27-080006/large_ex-double-2.jpg">
                     <p class="s">Double Room</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>3 Bed</p><p>Fresh towels</p></div>
                        
                        <div><p>Only for</p><p class="bold">₹ 1200</p> 
                            <a href="/register"><input type="button"  id="bn-now" onclick="myFunction()"  value="VIEW MORE"/></a></div><div class="stars"></div></div>
                        </a>
                            
                        <img class="tm-roomimage" src="https://www.novaplazahotels.com/novaplazacrystal/wp-content/uploads/2020/05/triple-1.jpg">
                            <p>Triple Room</p>

                    </div>
                        <div class="tm-room1">
                            
                            <div class="tm-trans"> <div><p>1 Bed</p><p>Fresh towels</p></div>
                        
                        <div><p>Only for</p><p class="bold">₹ 500</p> 
                            <a href="/register"><input type="button"  id="bn-now"  onclick="myFunction()"  value="VIEW MORE"/></a></div><div class="stars"></div></div>
                        </a>
                            
                        <img class="tm-roomimage" src="https://thumbs.dreamstime.com/b/guest-house-10439963.jpg">
                             <p>Guest Room</p>

                    </div>
    </section>
       <br/>
    
    
    
            </div>
<!--        <a href="#">  <img class="tm-up" src="images/up.png"> </a>-->
    </footer>
    

    
    </body>
    
<script>
    function myFunction() {
      alert("You are not registered now");
    }
    </script>
    
</html>
{% endblock %}